# Python
**/.venv/
__pycache__/
*.py[cod]

# Pyodide / Build Artifacts
**/.venv
**/dist
**/build
**/node_modules
**/.pyodide-xbuildenv*
**/temp-crfsuite

# Bun / Node
**/node_modules/

# Git
.git
.gitignore

