name: Deploy React + Pyodide to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12' # Must match Pyodide's Python version

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 3.1.58

      - name: Install Build Tools
        run: |
          pip install pyodide-build==0.27.3
          pip install 'wheel<0.43'     

      - name: Cache Pyodide Wheel
        id: cache-wheel
        uses: actions/cache@v4
        with:
          path: public/wheels/python_crfsuite*.whl
          key: ${{ runner.os }}-crfsuite-0.9.12
      
      - name: Build Custom Wheel (If not cached)
        if: steps.cache-wheel.outputs.cache-hit != 'true'
        run: |
          git clone --depth 1 --recursive https://github.com/scrapinghub/python-crfsuite.git temp-crfsuite
          pyodide build temp-crfsuite/
          mkdir -p public/wheels
          mv temp-crfsuite/dist/*.whl public/wheels/

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          cache: true

      - name: Install Dependencies
        run: bun install

      - name: Build Project
        run: bun run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          branch: gh-pages
